/* Base View for Site */
:root {
    --primary-color: #8A9A5B;
    --secondary-color: #FFFDD0;
    --base-font-color: #000000;
    --secondary-font-color: #373737;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
footer p {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--base-font-color);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1.5em;
    border-bottom: 1em solid var(--secondary-color);
}

header h1 {
    font-size: 3em;
}

main {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    width: 100%;
}

.hero {
    grid-area: 1/1;
    border-bottom: 0.4em solid var(--primary-color);
}

.hero img {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.container {
    position: relative;
    z-index: 2;
    background-color: #ffffffd9;
    font-size: large;
    padding: 1em 0 1em 0;
    width: 100%;
}

.container h2 {
    position: relative;
    right: 0;
    padding: 0;
    margin-right: 0;
    text-align: center;
    background-color: none;
}

.container dl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;
}

.container dt,
.container dd {
    margin: 0.5em 0 0.5em 0;
}

.container dt {
    width: 50%;
    text-align: right;
}

.container dd {
    width: 50%;
    text-align: left;
}

.container dd p {
    margin-left: 0.5em;
}

.disclaimer {
    text-align: center;
    font-size: medium;
    font-style: italic;
    color: var(--secondary-font-color);
    margin-top: 1.5em;
}

#data {
    grid-area: 2/1;
    align-self: center;
    justify-self: center;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--primary-color);
}

#weather {
    grid-area: 3/1;
    align-self: center;
    justify-self: center;
    bottom: 0;
    right: 0;
}

#emoji::before {
    content: "";
}

#weather img {
    display: block;
    width: 50px;
    height: auto;
    justify-self: center;
    margin-top: 1.5em;
}

footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1.5em 0;
}

footer p {
    font-size: large;
    font-weight: bold;
}