:root {
    --primary-color: #8A9A5B;
    --background-color: #013220;
    --secondary-color: #a36a29;
    --basic-background-color: #fff;
    --secondary-background-color: #FFFDD0;
    --font-color: #000;
    --navigation-color: #623918;
}

@media screen and (min-width: 500px) {
    
    header .header-top {
        flex-direction: row;
    }

    .main-content {
        width: 80%;
    }

    .price-table td{
        font-size: 16px;
    }

    footer {
        flex-direction: row;
    }

}